.about
{
    height: 1100px;
    /* border: 2px solid red; */
    background-color: black;
}
.content
{
    /* border: 2px solid red; */
    height: 1100px;
    width: 52%;
    margin-left: 280px;
    color: white;
}
p
{
     letter-spacing: 2px;
    line-height: px;
    word-spacing: 10px;
    font-size: 19px;
    text-indent: 5px;
    font-weight: 5px;
}
a
{
    
}