

.data
{
    color: white;
    height: 400px;
    width: 900px;
    position: relative;
    left: 20%;
    top: 10%;
    font-size: 55px;
    padding-left: 40px;
    
}
#abou
{
    height: 300vh;
    width: 100vw;
    background-color: black;
}
#sign
{
    /* border: 2px solid red; */
    color: white;
    width: 150px;
    position: relative;
    left: 1350px;
    bottom: 200px;
    transition: all 0.3s ease-in-out;
}
#sign>a>p:hover
{
 padding-left: 30px;
 color: red;
 transition: all 0.3s ease-in-out;
 cursor: pointer;
}
#sign>p
{
   transition: all 0.3s ease-in-out; 
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}


#aboutme
{
    color: white;
    width: 700px;
    height: 1000px;
    /* border: 2px solid red; */
    margin-top: 400px;
    margin-left: 25%;
}


